{% extends '@TimFrontend/Frontend/layout.html.twig' %}

{% block content %}
{% endblock content %}

{% block main_slider %}
     {% set borderImages = '/images/border.png' %}
     <div class="banner-slider">
         <div class="callbacks_container">
          <ul class="rslides" id="slider4">
             {% for key, item in sliderInfo %}
                 <li>
                     <div class="banner-info">
                         <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">{{ item.title }}</h3>
                         <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">{{ item.mainText }}</p>
                         <div class="arrows wow slideInDown"  data-wow-duration="1s" data-wow-delay=".2s">
                             <img src="{{ borderImages }}" alt="border"/>
                         </div>
                            <span class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">
                               {{ item.footer }}
                            </span>
                     </div>
                 </li>
             {% endfor %}
          </ul>
         </div>
     </div>
{% endblock main_slider %}

{% block about %}
    <div class="about" id="about">
        <div class="container">
            {% for i,item in aboutInfo %}
                {% if i is odd %}
                    {% include 'TimFrontendBundle:Frontend/templates:_about_left_template.html.twig' with {'item' : item} %}
                {% else %}
                    {% include 'TimFrontendBundle:Frontend/templates:_about_right_template.html.twig' with {'item' : item} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock about %}

{% block servces %}
    <div class="service" id="services">
        <div class="container">
            <h3 class="tittle">Our Services</h3>
            <div class="arrows-serve"><img src="/images/border.png" alt="border"></div>
            <div class="inst-grids">
                <div class="col-md-3 services-gd text-center wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                        <a href="#about" class="hi-icon"><img src="/images/serve1.png" alt=" " /></a>
                    </div>
                    <h4>About</h4>
                    <p>Lorem ipsum Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                </div>
                <div class="col-md-3 services-gd text-center wow slideInDown"  data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                        <a href="#reservation" class="hi-icon"><img src="/images/serve2.png" alt=" " /></a>
                    </div>
                    <h4>Reservation</h4>
                    <p>Lorem ipsum Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                </div>
                <div class="col-md-3 services-gd text-center wow slideInUp"  data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                        <a href="#team" class="hi-icon"><img src="/images/serve3.png" alt=" " /></a>
                    </div>
                    <h4>Chefs</h4>
                    <p>Lorem ipsum Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                </div>
                <div class="col-md-3 services-gd text-center wow slideInRight"  data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                        <a href="#gallery" class="hi-icon"><img src="/images/serve4.png" alt=" " /></a>
                    </div>
                    <h4>Gallery</h4>
                    <p>Lorem ipsum Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock servces %}

{% block chefs %}
    <div class="team-section" id="team">
        <div class="container">
            <h3 class="tittle">Our Chefs</h3>
            <div class="arrows-serve"><img src="/images/border.png" alt="border"></div>
            <div class="box2">
                <div class="col-md-3 s-1 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <a href="#">
                        <div class="view view-fifth">
                            <img src="/images/chef1.jpg" alt="chef">
                            <div class="mask">
                                <h4>Vivamus moles tie gravida turpis</h4>
                                <p>A wonderful serenity has taken possession of my entire soul,  I enjoy with my whole heart.</p>
                                <p class="p2">A wonderful serenity has taken possession of my entire soul, I enjoy with my whole heart.</p>
                            </div>

                        </div>
                    </a>
                    <h3>Wilson</h3>
                </div>
                <div class="col-md-3 s-2 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <a href="#">
                        <div class="view view-fifth">
                            <img src="/images/chef2.jpg" alt="chef">
                            <div class="mask">
                                <h4>Vivamus moles tie gravida turpis</h4>
                                <p>A wonderful serenity has taken possession of my entire soul,  I enjoy with my whole heart.</p>
                                <p class="p2">A wonderful serenity has taken possession of my entire soul, I enjoy with my whole heart.</p>
                            </div>

                        </div>
                    </a>
                    <h3>Victoria</h3>
                </div>
                <div class="col-md-3 s-3 wow slideInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <a href="#">
                        <div class="view view-fifth">
                            <img src="/images/chef3.jpg" alt="chef">
                            <div class="mask">
                                <h4>Vivamus moles tie gravida turpis</h4>
                                <p>A wonderful serenity has taken possession of my entire soul,  I enjoy with my whole heart.</p>
                                <p class="p2">A wonderful serenity has taken possession of my entire soul, I enjoy with my whole heart.</p>
                            </div>

                        </div>
                    </a>
                    <h3>Mr.jazz</h3>
                </div>
                <div class="col-md-3 s-4 wow slideInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <a href="#">
                        <div class="view view-fifth">
                            <img src="/images/chef4.jpg" alt="chef">
                            <div class="mask">
                                <h4>Vivamus moles tie gravida turpis</h4>
                                <p>A wonderful serenity has taken possession of my entire soul,  I enjoy with my whole heart.</p>
                                <p class="p2">A wonderful serenity has taken possession of my entire soul, I enjoy with my whole heart.</p>
                            </div>

                        </div>
                    </a>
                    <h3>Rosie Wilson</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock chefs %}